:root{
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --lightGrey: hsl(217, 12%, 63%);
    --mediumGrey: hsl(216, 12%, 54%);
    --mediumBlue: hsl(213, 19%, 18%);
    --darkBlue: hsl(213, 19%, 14%);
    --veryDarkBlue: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
    font-size: 14px;
    color: var(--lightGrey);

    --circle-sizing: 41px;
}

body{
    background-color: var(--veryDarkBlue);
}

/*applies to both centre card sections*/
main{
    background-color: var(--darkBlue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 87%;
    border-radius: 15px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.hidden{
    display: none;
}

.star-circle{
    background-color: var(--mediumBlue);
    border-radius: 50%;
    width: var(--circle-sizing);
    height: var(--circle-sizing);

    display: flex;
    align-items: center;
    justify-content: center;   
}

.star-circle img{
    width: 15px;
    height: 15px;
}

h1{
    margin-top: 18px;
    margin-bottom: 12px;
    
    color: var(--white);
    font-size: 1.7em;
    font-weight: 700;
}

p{
    margin-top: 0px;
    
    font-size: 1em;
    font-weight: 400;
    line-height: 22px;
}

.radio-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
}


input[type=radio]{
    display: none;
}

input[type=radio] ~ div:first-of-type{
    background-color: var(--mediumBlue);
    width: var(--circle-sizing);
    height: var(--circle-sizing);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    transition: all 200ms;
}

input[type=radio] ~ div:first-of-type:hover{
    background-color: var(--mediumGrey);
    color: var(--white);
}

input[type=radio]:checked ~ div:first-of-type{
    background-color: var(--orange);
    color: var(--white);
}



.submit-button{
    margin-top: 24px;
    margin-bottom: 7px;
    border: none;
    height: 45px;
    border-radius: 22.5px;

    background-color: var(--orange);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.17em;
    transition: all 200ms;
}

.submit-button:hover{
    color: var(--orange);
    background-color: var(--white);
}

.attribution{
    color: white;
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 10px;
}

/*Desktop Site*/
@media only screen and (min-width: 1000px){
    :root{
        font-size: 15px;
    }

    main{
        width: 412px;
    }
}